// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.span3{
  margin-left:60px;
} 
.span6{
  margin-left:0px;
}
.btn{
  margin-left: 150px;
}
#error_explanation{
  margin-left: 50px;
}
.alert{
  width:780px;
  margin-top:15px;
}